@import 'bootstrap';
@import 'admin-lte';
@import 'bootstrap-icons';

.corPrimaria {
    background-color: #16A34A !important;
}
.corLight {
    background-color: #DCFCE7 !important;
}
.corDark {
    background-color: #15803D !important;
}
.rotinely {
    color: #DCFCE7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
@media (max-width: 768px) {
    .rotinely {
        font-size: 2rem !important;
    }
}