@import 'bootstrap';
@import 'admin-lte';
@import 'bootstrap-icons';

.corPrimaria {
    background-color: #8B5E3C !important;
}
.corLight {
    background-color: #DEB887 !important;
}
.corDark {
    background-color: #6B3A2A !important;
}

.rotinely {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
@media (max-width: 768px) {
    .rotinely {
        font-size: 2rem !important;
    }
}
