.tarefa-texto {
    font-size: 1.1rem;
}

.tarefa-checkbox {
    width: 25px;
    height: 25px;
}

.btn-adicionar {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo-gradiente {
    background: linear-gradient(to bottom, #8B5E3C, #DEB887);
    min-height: 100vh;
}

.card {
    background-color: transparent !important;
    border: 1px solid white;
}

.main-header {
    min-height: 70px !important;
}

.main-header.corPrimaria {
    background-color: #8B5E3C !important;
}

.btn-editar {
    color: #0d6efd !important;
}

.btn-excluir {
    color: #dc3545 !important;
}
@media (max-width: 768px) {
    .tarefa-texto {
        font-size: 0.85rem !important;
    }

    .card-body {
        padding: 0.5rem !important;
    }

    .bi-file-text {
        font-size: 1.5rem !important;
    }
}